* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.couch {
  max-width: 100%;
  position: relative;
  transform: scale(0.5);
  z-index: 0;
}

.couch__overlay,
#couch__img {
  position: absolute;
  top: 120%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 0;
  fill: #3f3d3d;
  opacity: 0.8;
  margin: 0;
}

#couch__img {
  z-index: -1;
}

.bird {
  position: absolute;
  top: 64%;
  left: 50%;
  z-index: -1;
  transform: translate(-50%, -50%);
  transform: scale(1.4);
  margin: 0;
}
